<div class = 'categories-wrapper'>
    <h1 class = 'cat-heading'>{{catHeading}}</h1>
    <div class = 'category-results-wrapper'>
        <div class = 'category-results-movie' ui-sref="main.movie-profile({id: movie.id})" ng-repeat="movie in moviesByGenre" header-controls>
            <img ng-src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{movie.poster_path}}"/>
            <div class = 'category-overlay'>
                <h2>{{movie.title}}</h2>
                <h4>{{movie.release_date |date: 'yyyy' }}</h4>
            </div>

        </div>
        <div header-controls class = 'pagination-btns'>
            <p class = 'scroll-up' ng-click="prevPage()"><i class="fa fa-angle-left" aria-hidden="true"></i> PREVIOUS</p>
            <p class = 'scroll-up' ng-click="nextPage()">NEXT <i class="fa fa-angle-right" aria-hidden="true"></i></p>
        </div>
    </div>
</div>