<div class="background">

  <header class="good-sees-header">
    <div class="logoContainer">
      <img class="logo" ng-src="./assets/good-sees-logo.svg ">
    </div>

    <div class="menuIconContainer">
      <i ui-sref="main.user-profile" class="fa fa-bars" aria-hidden="true"></i>
    </div>
  </header> 

  <div class="postContainer">
    <div class="postData">
      <p>MAKE A MOVIE RECOMMENDATION</p>
      <div class="recPostSearchContainer">
        <input type="text" name="recSearch"></input>
        <button type="submit" value="Search!">FIND</button>
      </div>
    </div>
  </div>
</div>

<!--value="What movie do you recommend?"-->