<div class="background">

  <div class="feedContainer">
    <div class="feedLeftSide">

    <div class="feedSidebarContainer">
      <div class="feedProfilePicContainer">
        <div class="feedProfilePic"></div>
      </div>

      <div class="feedLinksContainer">
        <ul class="feedLinks">
          <li id="feedListLink">PROFILE</li>
          <li id="feedListLink">FRIENDS</li>
          <li id="feedListLink">MOVIES YOU'VE SEEN</li>
          <li id="feedListLink">MOVIES YOU WANT TO SEE</li>
          <li id="feedListLink">YOUR FAVORITE MOVIES</li>
          
        </ul>
      </div>

      <div class="feedSignOut">SIGN OUT</div>
    </div>
    </div>

    <div class="postContainer">
      <div class="postData">
        <p>MAKE A MOVIE RECOMMENDATION</p>
        <div class="recPostSearchContainer">
          <input type="text" name="recSearch"></input>
          <button type="submit" value="Search!">FIND</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--value="What movie do you recommend?"-->