    <div class="all-friends-wrapper">
    <p class="friends-page-title">{{currentUserData.first_name}}'s Friends</p>
    <div class="friends-wrapper">
        <div  ng-repeat="user in userFriends">
           <!--<div style="background-image: url('{{user.picture_url}}'); background-size: cover no-repeat"></div>-->
           <div class="profileImageFriends">

            <img src="{{user.picture_url}}">
           </div>
            <p class="name-text">{{user.first_name}} {{user.last_name}}</p>
        </div>
    </div>
</div>