<div class = 'login-background'>
    <div class = 'login-card'>
        <h1>Login/Sign up!</h1>
        <button id = 'login-fb' class = 'login-button'><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i><p>Sign in with Facebook</p></button>
        <button id = 'login-google'class = 'login-button'><i class="fa fa-google fa-2x" aria-hidden="true"></i><p>Sign in with Google</p></button>
        <p>By signing up, you agree to GoodSees Terms of Use and Privacy Policy.</p>
    </div>
</div>