<profile-controls></profile-controls>
  <div class="background">
      <div class="profileHeader">
        <div class="profilePicContainer">
          <div class="profilePic" style="background-image: url('{{userData.picture_url}}')"></div>
          <h1>{{userData.first_name}} {{userData.last_name}}</h1>
        </div>

        <div class="profileTabList">
          <button class="afterClick" ng-click="link='profile'" id="profileTab">PROFILE</button>
          <button class="beforeClick" ng-click="link='seen'" id="seenTab">SEEN</button>
          <button class="beforeClick" ng-click="link='want'" id="wantToSeeTab">WANT TO SEE</button>
          <button class="beforeClick" ng-click="link='fav'" id="favoritesTab">FAVORITES</button>
        </div>
      </div>
    <div ng-switch on="link">

      <div ng-switch-when="seen">
        <h1 class="seenLabel" style="text-transform: uppercase">MOVIES {{userData.first_name}} HAS SEEN</h1>
        <div class="profileSeenLink">
          <div ng-repeat='movies in seenMovies' ui-sref="main.movie-profile({id: movies.id})">


    <div class='category-overlay'>
      <h2>{{movie.title}}</h2>
      <h4>{{movie.release_date |date: 'yyyy' }}</h4>
    </div>


            <div class="profileMoviesSeen" style="background-image: url('{{movies.imageUrl}}')"></div>
          </div>
        </div>
      </div>
      <div ng-switch-when="want">
        <h1 class="seenLabel" style="text-transform: uppercase">MOVIES {{userData.first_name}} WANTS TO SEE</h1>
        <div class="profileSeenLink" ui-sref="main.movie-profile({id: movies.id})">
          <div ng-repeat='movies in wantToSee'>
            <div class="profileMoviesSeen" style="background-image: url('{{movies.imageUrl}}')"></div>
          </div>
        </div>
      </div>
      <div ng-switch-when="fav">
        <h1 class="seenLabel" style="text-transform: uppercase">{{userData.first_name}}'S FAVORITE MOVIES</h1>
        <div class="profileSeenLink" ui-sref="main.movie-profile({id: movies.id})">
          <div ng-repeat='movies in favMovies'>
            <div class="profileMoviesSeen" style="background-image: url('{{movies.imageUrl}}')"></div>
          </div>
        </div>
      </div>



      <div ng-switch-default>
        <div class="profileTopFriendsContainer">
          <div class="profileLabel" style="text-transform: uppercase">{{userData.first_name}}'s TOP FRIENDS</div>
          <div class="topFriends">
            

            <div class="topFriendCarousel">
              <div ng-repeat="friend in friends">
                <div class="topFriend" style="background-image: url('{{friend.picture_url}}')">
                </div>

                <h1 class="favFriendName">
                  {{friend.first_name}} {{friend.last_name}}
                </h1>
              </div>
              <!--<div class="topFriend">4</div>
              <div class="topFriend">5</div>-->
            </div>
          </div>
        </div>

        <div class="recommendationLabel" style="text-transform: uppercase">MOVIES RECOMMENDED BY {{userData.first_name}}</div>

        <div class="profileRecCarousel">
          <div ng-repeat="movies in recMovies" ui-sref="main.movie-profile({id: movies.id})">
            <div class="profileRecMovies" style="background-image: url('{{movies.imageUrl}}')"></div>
          </div>
          <!--<div class="profileRecMovies"></div>
          <div class="profileRecMovies"></div>
          <div class="profileRecMovies"></div>
          <div class="profileRecMovies"></div>
          <div class="profileRecMovies"></div>-->
        </div>
      </div> 
    </div>
  </div>
