

  <div class="background">
    <div class="profileHeader">
      <div class="profilePicContainer">
        <div class="profilePic"></div>
      </div>
      <ul id="profileTabList">
        <li id="seenTab">SEEN</li>
        <li id="favoritesTab">FAVORITES</li>
        <li id="wantToSeeTab">WANT TO SEE</li>
      </ul>
    </div>
    <div class="profileTopFriendsContainer">
      <div class="profileLabel">TOP FRIENDS</div>
      <div class="topFriends">

        <div class="topFriendCarousel">
          <div class="topFriend">1</div>
          <div class="topFriend">2</div>
          <div class="topFriend">3</div>
          <div class="topFriend">4</div>
          <div class="topFriend">5</div>
        </div>
      
    </div>

  </div>