<body ng-controller="searchCtrl">
	<div class="results-search-container categories-wrapper">
		<div class = 'search-page-inputs'>
			<input class = 'search-page-input' ng-model="movieTitle" ng-keypress="searchMovieByTitle($event, movieTitle)" placeholder="Search by title">		</input>
			<input class = 'search-page-input' ng-model="castMember" ng-keypress="searchMovieByCast($event, castMember) " placeholder="Actress/Actor"> </input>
		</div>


		<!--searching by movie title-->
		<div ng-show="resultFlag" ng-hide="hideFlag" class='category-results-wrapper'>
			<div class='category-results-movie' ng-repeat="movie in movieInfo" header-controls>
				<img ng-src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{movie.poster_path}}" />
				<div class = 'category-overlay'>
					<div class="overlayMovieInfo" ui-sref="main.movie-profile({id: movie.id})">
						<h2>{{movie.title}}</h2>
						<h4>{{movie.release_date |date: 'yyyy' }}</h4>
					</div>
					<div class="addTo-Overlay">
						<p ng-click="addToFavs(userData.fb_id, movie.id)" class="overlayFav"><i class="fa fa-star" aria-hidden="true"></i> add to favorites</p>
						<p ng-click="addToSeen(userData.fb_id, movie.id)" class="overlaySeen"><i class="fa fa-check " aria-hidden="true"></i> add to seen</p>
						<p ng-click="addToSee(userData.fb_id, movie.id)" class="overlayList"><i class="fa fa-list-ul" aria-hidden="true"></i> add to want-to-see</p>
					</div>
				</div>
			</div>
		</div>
		<div class = 'pagination-btns'>
			<p class = 'scroll-up' ng-click="prevPage()"><i class="fa fa-angle-left" aria-hidden="true"></i> PREVIOUS</p>
			<p class = 'scroll-up' href='#'ng-click="nextPage()">NEXT <i class="fa fa-angle-right" aria-hidden="true"></i></p>
		</div>

		<!--searching by actor or actress-->
		<div style="padding-bottom: 50px">
			<div  ng-show="hideFlag" ng-hide="resultFlag" class = 'actor-result-container' ng-repeat="actor in actorInfo">
				<div class = 'actor-name-pic'>
					<div class = 'actor-image-container' style="background-image: url('https://image.tmdb.org/t/p/w300_and_h450_bestv2{{actor.profile_path}}')">
					</div>
					<h1>{{actor.name}}</h1>
				</div>
				<div class = 'actor-movies-container'>
					<div class = 'actor-results-movie' ng-repeat="known in actor.known_for" ui-sref="main.movie-profile({id:known.id})" header-controls>
						<img style = "width: 100%" ng-src='https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{known.poster_path}}' />
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
				<!--<li>{{known.title}}</li>
				<li>{{known.release_date}}</li>
				<img ng-src='https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{known.poster_path}}' ui-sref="main.movie-profile({id:known.id})"
				/>-->