<div class = 'login-background'>

    <div class = 'login-card'>
        <div class="logoContainer login-logo">
            <img class="logo " ng-src="./assets/good-sees-logo.svg ">
        </div>
        <h1>Login/Sign up!</h1>
        <a href='/auth/facebook'><button id = 'login-fb' class = 'login-button'><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i><p>Sign in with Facebook</p></button></a>
        <!--<button id = 'login-google'class = 'login-button'><i class="fa fa-google fa-2x" aria-hidden="true"></i><p>Sign in with Google</p></button>
        <p>By signing up, you agree to GoodSees Terms of Use and Privacy Policy.</p>-->
    </div>

</div>
