<div class = 'dropdown-profile-info'>
    <p>Mason Galland</p> <!--this will be provided from user table-->
</div>
<div class = 'name-separator'></div>
<div class = 'dropdown-link-container'>
    <a ui-sref = 'main.user-profile'>Profile</a>
    <a class = 'friends-link' ui-sref = 'main.user-profile'>Friends</a>
    <a class = 'list-link'>Lists</a>
    <div class = 'lists-links'>
        <a ui-sref = 'main.user-profile'>Favorites</a>
        <a ui-sref = 'main.user-profile'>Seen</a>
        <a ui-sref = 'main.user-profile'>To See</a>
    </div>
</div>
<div class = 'signout-btn-container'>
    <button class = 'signout-btn'>Sign Out</button>
</div>