<div class = 'dropdown-profile-info'>
    <div class = 'profile-pic-container' style = 'background-image: url({{currentUserData.picture_url}})'></div>
    <p>{{currentUserData.first_name}}{{currentUserData.last_name}}</p> <!--this will be provided from user table-->
</div>
<div class = 'name-separator'></div>
<div class = 'dropdown-link-container'>
    <a ui-sref = 'main.user-profile'>Profile</a>
    <a class = 'friends-link' ui-sref = 'main.user-profile'>Friends</a>
    <a id = 'list-btn' class = 'list-link'>Lists</a>
    <div class = 'lists-links'>
        <a ui-sref = 'main.user-profile'>Favorites</a>
        <a ui-sref = 'main.seen'>Seen</a>
        <a ui-sref = 'main.user-profile'>To See</a>
    </div>
</div>
<div class = 'signout-btn-container'>
    <button class = 'signout-btn'>Sign Out</button>
</div>

