<h2>Search by</h2>
<div class = 'search-options-container'>
    <p class = 'search-by-title'>Movie Title</p>
    <p class = 'search-by-name'>Actor/Actress</p>
    <p class = 'search-by-friend'>Friend</p>
</div>
<div class="mobile-search-container">
    <input ng-model="navMovieTitle" ng-keypress="navSearchMovieByTitle($event, navMovieTitle)" class = 'mobile-search-input' type="text" name="mobile-search" placeholder="Type a search term">
    <button class = 'mobile-search-btn' type="submit">Search</button>
</div>