<p class="searchBy">SEARCH BY</p>
<div class = 'search-options-container'>
    <p class = 'search-by-title selected' ng-click="titleClicked()" >MOVIE TITLE</p>
    <p class = 'search-by-name' ng-click="nameClicked()">ACTOR/ACTRESS</p>
    <!--<p class = 'search-by-friend' ng-click="searchCategory = 'friend'" >Friend</p>-->
</div>
<div class="mobile-search-container">
    <form ng-submit="search(searchTerm)">
    <input ng-model="searchTerm" class = 'mobile-search-input' type="text" name="mobile-search" placeholder="Type a search term" >
    <button class = 'mobile-search-btn' type="submit" >Search</button>
    </form>
</div>