$main-background-color: #1A1A1A;
$header-text: #3E3E3E;
$main-box-shaddow: 9px 0px 95px black;
$main-font:'Raleway',
sans-serif;
$yellow-from-logo: #F6BC2A;
$red-from-logo: #9B0606;
$yellow-search-text: #CE9C29;
.background {
  height: 100vh;
  width: 100%;
}

.feedContainer {
  background-image: url('../assets/moviePosters.jpg');
  background-repeat: repeat-y;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
}

.feedSidebarContainer {
  display: none;
}

.postContainer {
  width: 70%;
  // height: 100vh;
 
}

.postData {
  flex-direction: column;
  width: 623px;
  height: 100px;
  margin-top: 25px;
  background-color: black;
  box-shadow: $main-box-shaddow;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 15px 0 25px 0;
  
  position: fixed;
  input {
    width: 128%;
    height: 30px;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 15px;
    border-radius: 1pt;
    background: transparent;
    border: 1px solid $header-text;
    text-decoration: none;
    color: $yellow-search-text;
  }
  button {
    width: 50px;
    height: 30px;
    background-color: transparent;
    color: $yellow-from-logo;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: 1pt;
    margin-left: 20px;
  }
  button:hover {
    background-color: $yellow-from-logo;
    color: black;
  }
  .recPostSearchContainer {
    display: flex;
    justify-content: space-between;
  }
}

.feedSearchResultsContainer {
  display: none;
}

.feedSearchResults {
  width: 80%;
  background-color: rgba(10, 10, 10, 0.68);
  color: black; // overflow: scroll;
  display: flex;
  flex-wrap: wrap;
  margin: 177px 0 0 44px;
  box-shadow: $main-box-shaddow;
  justify-content: space-around;
  padding-top: 10px;
}

.feedSearchResultsMovie {
  width: 160px;
  height: 185px;
  display: flex; // justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 10px 5px 5px 5px;
  font-size: 12px;
  img {
    width: 90px;
    height: 120px;
    box-shadow: $main-box-shaddow;
  }
  p {
    padding-top: 5px;
    margin: 2px;
  }
}

.feedSearchResultsMovie:hover {
  background-color: $yellow-from-logo;
}

.recCard {
    width: 670px;
    background: rgba(5, 5, 5, 0.85);
    color: white;
    padding: 30px 0 0 18px;
    display: none;
    margin-top: 34px;
    height: 286px;
}

.seenCard {
  width: 340px;
  border: 1px solid gray;
  background: black;
  color: white;
  padding: 15px;
  display: none;
}

.wantCard {
  width: 340px;
  border: 1px solid gray;
  background: black;
  color: white;
  padding: 15px;
  display: none;
}

.favCard {
  width: 340px;
  border: 1px solid gray;
  background: black;
  color: white;
  padding: 15px;
  display: none;
}

.recMovieInfo {
  display: flex;
  margin-left: 30px;
}

.recImage {
  width: 100px;
  img {
    width: 100%;
    border-radius: 2pt;
    box-shadow: $main-box-shaddow;
    // border: 1px solid grey;
  }
}

.recTitleRating {
  width: 230px;
  text-align: center;
  padding-right: 6px;
}

#recTitle {
  font-size: 30px;
  padding-bottom: 20px;
  padding-top: 14px;
  padding-left: 30px;
  width: 400px;
  text-align: left;
}
#recRating{
  width: 299px;
  color: grey;
}

.recFaces {
  font-size: 40px;
  margin: 11px 0 6px 65px;
  color: grey;
}

.recInput {
  display: flex;
  justify-content: space-around;
  width: 83%;
  margin: 20px 5px 15px 60px;
  input {
    width: 70%;
    height: 30px;
    background-color: rgba(10, 10, 10, 0.9);
    border: 1px solid gray;
  }
  button {
    height: 29px;
    width: 60px;
    font-size: 20px;
    text-align: center;
    background: none;
    color: $yellow-from-logo;
    border: none;
    font-family: raleway;
    font-weight: 600;
  }
}

.feedActivityContainer {
  width: 80%;
  margin: 199px 60px 0;
}

.feedActivityAfter {
  width: 80%;
  margin: 10px 60px 0;
}

.activityCards {
    width: 581px;
    background-color: rgba(20, 20, 20, 0.68);
    color: white;
    box-shadow: 9px 0px 95px black;
    /* border: 1px solid gray; */
    padding: 10px;
    margin-bottom: 31px;
}

.userDidSomething {
  display: flex;
  padding: 10px 20px 0;

}
  .userDidName{

  color: $yellow-from-logo;
  font-weight: 500;
  }

.userDidWhat{
  margin: 2px 0 0 10px;
  color: grey;
  font-size: 25px;
}

.picName {
  display: flex;
  align-items: center;
  width: 500px;
  height: 74px;
  /* justify-content: center; */
  font-size: 34px;
  color: whitesmoke;
}

.userCardPic {
  width: 70px;
  height: 70px;
  background-size: cover;
  border-radius: 50%;
  margin-right: 10px
}

.activityMoviePic {
  width: 120px;
  img {
    margin: 21px;
    border-radius: 3px;
  }
}

.activityMovieContainer {
  text-align: center;
  display: flex;
  img {
    width: 150px;
    height: 225px;
  }
}

.activityMovieWords {
  margin-top: 56px;
  width: 297px;
}

.activityMovieTitle {
  font-size: 36px;
  font-family: oswald;
}

.activityMovieDescription {
  overflow: auto;
  height: 104px;
  text-align: left;
  margin: 25px 0 0 80px;
  width: 318px;
  color: grey;
}

// .movieDescFade {
//   content: '';
//   margin-top: 11px;
//   height: 40px;
//   background: linear-gradient(to top, black 0%, rgba(251, 251, 251, 0) 100%);
//   position: relative;
//   text-align: left;
//   margin-left: 81px;
//   width: 295px;
//   line-height: 19px;
// }
@media(min-width: 650px) {
  .feedLeftSide {
    width: 450px;
    height: 100vh;
    padding: 28px 0 28px 30px;
    
  }
  .feedSidebarContainer {
    display: block;
    width: 250px;
    height: 70vh;
    background-color: black;
    margin-left: 30px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    box-shadow: $main-box-shaddow;
  }
  .feedProfilePicContainer {
    height: 200px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .feedLinksContainer {
    height: 272px;
    width: 200px;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .feedLinks {
    list-style: none;
    line-height: 40px;
    color: grey;
    font-size: 15px;
    li:hover {
      color: $yellow-search-text;
    }
  }
  .feedProfilePic {
    height: 110px;
    width: 110px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
  }
}

@media(min-width: 974px) {
  .postData {
    font-size: 25px;
    height: 150px;
    padding: 23px 0 32px 0;
    margin-left: 36px;
    p {
      margin-bottom: 20px;
    }
    input {
      height: 40px;
      width: 359px;
    }
    button {
      height: 40px;
      width: 57px;
      font-size: 20px;
    }
  }
  .recPostSearchContainer {
    align-items: center;
    width: 447px;
  }
}

.userSays{
  font-family: raleway;
  font-size: 20px;
  font-weight: 500;
  color: $yellow-from-logo;
}

.usersCommentContainer{
  display: flex;
  margin: 10px 0 10px 27px;

}

.userComment{
      font-size: 20px;
    padding: 5px 5px;
}