$main-background-color: #1A1A1A; 
$header-text: #3E3E3E;
$main-box-shaddow: 9px 0px 95px black;
$main-font:'Raleway', sans-serif;
$yellow-from-logo: #F6BC2A;
$red-from-logo:  #9B0606;
$yellow-search-text: #CE9C29;

.background{
  background-color: $main-background-color;
  height: 100vh;
  width: 100%;
}

.feedContainer{
  width: 100%;
  height: 100vh;
  display: flex; 
  justify-content: space-around;
}

.feedSidebarContainer{
 display: none;
}

.postContainer{
  width: 100%;
  height: 100vh;
  display: flex; 
  justify-content: center;
  align-content: space-between;
  background-color: $main-background-color
  
}

.postData{
  flex-direction: column;
  width: 80%;
  height: 100px;
  margin-top: 25px;
  background-color: black;
  box-shadow: $main-box-shaddow;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 15px 0 25px 0;
  border: 1px solid $header-text;


  input{
    width: 128%;
    height: 30px;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 15px;
    border-radius: 1pt;
    background: transparent;
    border: 1px solid $header-text;
    text-decoration: none;
    color:$yellow-search-text;
  }

  button{
    width: 50px;
    height: 30px;
    background-color:transparent;
    color: $yellow-from-logo;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: 1pt;
    margin-left: 20px;
  }

  button:hover{
    background-color: $yellow-from-logo;
    color: black;
  }

  .recPostSearchContainer{
    display: flex;
    justify-content: space-between;
  }
}

@media(min-width: 650px){

  .feedLeftSide{
    width: 450px;
    height: 100vh;
  }

  .feedSidebarContainer{
    display: block;
    width: 250px;
    height: 70vh;
    background-color: black;
    margin-left: 30px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    box-shadow: $main-box-shaddow;

  }


  .feedProfilePicContainer{
    height: 200px;
    width: 150px;
   
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .feedLinksContainer{
    height: 272px; 
    width: 200px;
   border-top: 1px solid grey;
   border-bottom: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .feedLinks{
    list-style: none;
    line-height: 40px;
    color: grey;
    font-size: 15px;

    li:hover{
      color: $yellow-search-text;

    }
  }

  .feedProfilePic{
    height: 110px;
    width: 110px;
    border-radius: 50%;
    background-color: grey;
  }


    

}

@media(min-width: 974px){
  
  .postData{
    font-size: 25px;
    height: 150px;
    padding: 23px 0 32px 0;

    input{
      height: 40px;
      width: 400px;
    }

    button{
      height: 40px;
      width: 57px;
      font-size: 20px;
    }
  }

  .recPostSearchContainer{
    align-items: center;
    width: 480px;
  }
}
