$main-background-color: #1A1A1A; 
$header-text: #858585;
$yellow: #e7bc2a;

.good-sees-header{
  width: 100%;
  height: 83px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 1px 48px;
  position: fixed;
}
.logoContainer{
  width: 100px;
  margin-left: 20px;
}
.menuIconContainer{
  color: $header-text;
  font-size: 29px;
  margin-right: 20px;
}
#mobile-menu-ham{
    position: absolute;
    right: 0px;
    top: 25px;
}
.mobile-dropdown-menu, .desktop-profile-dropdown, .desktop-search-dropdown, .desktop-categories-dropdown{
    background-color: rgba(0, 0, 0, .9);
    width: 300px;
    border: 1px solid #282828;
    border-top: 1px solid $yellow;
    color: $header-text;
    position: absolute;
    top: 82px;
    right: 10px;
    padding: 20px;
    letter-spacing: 1px;
    border-radius: 3px;
    display: none;
    z-index: 1;

    h2{
        text-align: center;
        margin-bottom: 15px;
        font-size: 20px;
        text-decoration: underline;
        font-weight: 400;
    }

    p {
        font-size: 14px;
    }

    a{
        text-decoration: none;
        color: $header-text;
        line-height: 1.5em;
        text-align: center;
        cursor: pointer;
    }
}
.search-options-container{
    display: flex;
    justify-content: space-between;

    p:hover{
        cursor: pointer;
        color: #F6BC2A;
    }
}
.mobile-search-container{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.mobile-search-input{
    width: 70%;
    height: 30px;
    border-radius: 3px;
    font-size: 14px;
    padding-left: 10px;
    background-color: black;
    border: 1px solid gray;

}
.mobile-search-input:focus{
    border-color: $yellow;
}
.mobile-search-btn{
    width: 25%;
    background-color: $header-text;
    border: none;
    border-radius: 3px;
    font-size: 14px;
}
.dropdown-divider{
    border-bottom: 1px solid $header-text;
    width: 100%;
    margin: 20px auto;
}
.dropdown-profile-info{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-left: 20px;

    p{
    font-size: 16px;  
    padding-bottom: 10px;  
    cursor: pointer;    
    }
}
#wide-menu-ham{
    display: none;
    cursor: pointer;
}
.profile-pic-container{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 20px;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}
.name-separator {
    border-bottom: 1px solid;
    width: 70%;
    margin: 10px auto 20px auto;
}
.dropdown-link-container{
    display: none;
    flex-direction: column;  
}
.lists-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid;
    padding-top: 10px;
    margin: 0 30%;
    display: none;
}
.signout-btn{
    border: 1px solid;
    border-radius: 3px;
    background-color: transparent;
    color: $header-text;
    width: 50%;
    margin: auto;
    height: 30px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 10px;
}
.dropdown-category-links{
    display: flex;
    flex-direction: column;
    display: none;
}
#cat-link{
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}
.signout-btn-container{
    width: 100%;
    display: flex;  
    justify-content: center;
}
.display-flex{
    display: flex;
}
.display-block{
    display: block;
}
.wide-nav{
    display: none;
    color: $header-text;
    position: absolute;
    right: 80px;

    p{
        padding-left: 30px;
        font-size: 18px;
        cursor: pointer;
    }
    p:hover{
        color: #F6BC2A
    }
}
.desktop-search-dropdown{
    right: 56px;
}
.desktop-categories-dropdown{
    right: 175px;
    width: 500px;
    justify-content: space-between;
}
.categories-column{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    a:hover {
        color: #F6BC2A;
    }
}
.selected {
    color: #F6BC2A;
    text-decoration: underline;
}
.yellow-triangle{
    color: $yellow;
    position: absolute;
}
#categories-triangle, #search-triangle {
    top: -22px;
    right: 50px;
}
#ham-triangle{
    top: -22px;
    right: 10px;
}

@media (min-width: 750px) {
    #wide-menu-ham{
        display: block;
    }
    #mobile-menu-ham{
        display: none;
    }
    .wide-nav{
        display: flex;
    }
    .mobile-search-btn:hover{
        background-color: #F6BC2A;
        cursor: pointer;
    }
    .dropdown-link-container a:hover{
        color: #F6BC2A;
    }
    .signout-btn:hover{
        color: #F6BC2A;
    }
}